extends layout

block content
	include lib/header
	.wk_list_box.wk_list_box3
	.wk_blog_tab
		ul
			li
				a.a(href='portal.php-mod=list&catid=6.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=6', title='公司简介') 公司简介
			li
				a(href='portal.php-mod=list&catid=7.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=7', title='企业文化') 企业文化
			li
				a(href='portal.php-mod=list&catid=8.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=8', title='发展历程') 发展历程
			li
				a(href='portal.php-mod=list&catid=9.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=9', title='诚聘英才') 诚聘英才
			li
				a(href='portal.php-mod=list&catid=10.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=10', title='联系我们') 联系我们
		.clear
	.clear
	.main_about
		.who
			// [diy=wk_about_diy1]
			#wk_about_diy1.area
				#frameyd1cLA.frame.move-span.cl.frame-1
					#frameyd1cLA_left.column.frame-1-c
						#frameyd1cLA_left_temp.move-span.temp
						#portal_block_18.block.move-span
							#portal_block_18_content.dxb_bc
								.portal_block_summary
									.about_title.or
										h1 我们是谁
									p
										| 火星人(Mars Information Technology Co.,Ltd)
										| 南宁火星人信息科技有限公司由留学人员杜聪回国创办，是一家致力于电子商务系统研发及提供相关配套增值服务的企业，公司在英国伦敦设有分部。公司将凭借总经理多年在英国为多家电子商务和网络媒体公司提供咨询服务的经验，能够为正在从事或即将设计电子商务的企业提供配套的增值性的咨询服务，其中包括电子商务整合方案策划，B2B,B2C整体解决方案，移动APP解决方案，网络媒体市场营销，网络品牌及形象推广，网络用户调研，数据采集和经济模型分析，项目预算与评估，财务分析和融资方案等。
			// [/diy]
		.bottom
			// [diy=wk_about_diy2]
			#wk_about_diy2.area
				#framep2n1bg.frame.move-span.cl.frame-1
					#framep2n1bg_left.column.frame-1-c
						#framep2n1bg_left_temp.move-span.temp
						#portal_block_19.block.move-span
							#portal_block_19_content.dxb_bc
								.portal_block_summary
									dl
										dd
											img(src='/public/images/about/guanyu_04.png', tppabs='http://115.29.97.50/week_jiaohu//public/images/about/guanyu_04.png')
										dt
											h2 我们沉浸于用户体验
										dt
											h2 帮您挖掘和创新更大商机的可能
									dl
										dd
											img(src='/public/images/about/guanyu_06.png', tppabs='http://115.29.97.50/week_jiaohu//public/images/about/guanyu_06.png')
										dt
											h2 服务思维下的商业设计
										dt
											h2 撇弃浮夸去直达共同的目标
									dl
										dd
											img(src='/public/images/about/guanyu_08.png', tppabs='http://115.29.97.50/week_jiaohu//public/images/about/guanyu_08.png')
										dt
											h2 精益合作和分享的态度
										dt
											h2 让我们鼎力相助你的梦想
			// [/diy]
	.clear
	.project_gray
		.project
			// [diy=wk_about_diy3]
			#wk_about_diy3.area
				#frameHCV83Y.frame.move-span.cl.frame-1
					#frameHCV83Y_left.column.frame-1-c
						#frameHCV83Y_left_temp.move-span.temp
						#portal_block_20.block.move-span
							#portal_block_20_content.dxb_bc
								.portal_block_summary
									.about_title
										h1 服务优势
										span 创意、流程、执行缺一不可
									.project_con
										dl
											dd(style='background:url(/public/images/about/guanyu_04.png) no-repeat center center;background-size:cover')
												a(href='#')
											dt 从创始至今，我们的业务方向始终不变，专注做好一件事才能更好的追求高品质，这也是weekdesign存在的价值。在未来我们也是基于此信念而继续创造。
										dl
											dd(style='background:url(/public/images/about/guanyu_04.png) no-repeat center center;background-size:cover')
												a(href='#')
											dt 在不断的创新和实践中总结出可持续和可信赖的设计流程，坚持与用户一起思考，用设计的方法发现问题、解决问题、输出设计方案，并实现客户产品和企业价值的提升。
										dl
											dd(style='background:url(/public/images/about/guanyu_04.png) no-repeat center center;background-size:cover')
												a(href='#')
											dt weekdesign5年来积累了大量优秀的项目案例，并验证了设计的价值。在不断的探索中总结经验，以结果为导向，继续为更多客户提供优秀的设计。
			// [/diy]
	.clear
	.team_box
		.team
			// [diy=wk_about_diy4]
			#wk_about_diy4.area
				#framelo3Fmy.frame.move-span.cl.frame-1
					#framelo3Fmy_left.column.frame-1-c
						#framelo3Fmy_left_temp.move-span.temp
						#portal_block_21.block.move-span
							#portal_block_21_content.dxb_bc
								.portal_block_summary
									.about_title
										h1 我们的团队
									.top
										p
											| 我们是追求品质与力求不断超越自己的团队，每一位成员也是亲密的伙伴，与公司一起成长与发展。我们尊重每次合作的机会与挑战，不断精进，力求完美。团队秉承专注、专业的设计服务思维，让客户通过设计发挥产品的最大价值，并发掘无限的可能。热爱设计并坚信设计的力量让我们不断前进…
									.team_con
										.left_cor
											.boxgrid(style='background:url(/public/images/about/guanyu_04.png) no-repeat;background-size:cover')
												.cover
													h3 团队建设活动摄影
											.boxgrid(style='background:url(/public/images/about/guanyu_04.png) no-repeat;background-size:cover')
												.cover
													h3 团队建设活动摄影
											.boxgrid(style='background:url(/public/images/about/guanyu_04.png) no-repeat;background-size:cover')
												.cover
													h3 团队建设活动摄影
											.boxgrid(style='background:url(/public/images/about/guanyu_04.png) no-repeat;background-size:cover')
												.cover
													h3 团队建设活动摄影
										.right_cor
											.boxgrid(style='background:url(/public/images/about/guanyu_04.png) no-repeat;background-size:cover')
												.cover1
													h3 团队建设活动摄影
			// [/diy]
	#wp.wp
		.wp
			// [diy=diy1]
			#diy1.area
			// [/diy]
			// [diy=listcontenttop]
			#listcontenttop.area
			// [/diy]
			.clear
			// [diy=diycontentbottom]
			#diycontentbottom.area
			// [/diy]
			.wp.mtn
				// [diy=diy3]
				#diy3.area
				// [/diy]
	include lib/footer