extends layout

block content
	include lib/header
	.wk_list_box.wk_list_box3
	.wk_blog_tab
		ul
			li
				a.a(href='portal.php-mod=list&catid=6.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=6', title='公司简介') 公司简介
			li
				a(href='portal.php-mod=list&catid=7.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=7', title='企业文化') 企业文化
			li
				a(href='portal.php-mod=list&catid=8.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=8', title='发展历程') 发展历程
			li
				a(href='portal.php-mod=list&catid=9.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=9', title='诚聘英才') 诚聘英才
			li
				a(href='portal.php-mod=list&catid=10.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=10', title='联系我们') 联系我们
		.clear
	.clear
	.main_about
		.who
			// [diy=wk_about_diy1]
			#wk_about_diy1.area
				#frameyd1cLA.frame.move-span.cl.frame-1
					#frameyd1cLA_left.column.frame-1-c
						#frameyd1cLA_left_temp.move-span.temp
						#portal_block_18.block.move-span
							#portal_block_18_content.dxb_bc
								.portal_block_summary
									.about_title.or
										h1 我们是谁
									p
										| weekdesign
										| （周末设计）成立于2012年，我们是一家专注用户体验设计开发与互联网品牌建设的设计公司，创立至今为200多位客户提供了创新与专业的设计方案。设计服务范围包括：交互原型设计、产品视觉设计、网站设计与开发建设、移动及软件产品界面设计、图标设计、品牌及平面设计等。我们的价值与宗旨是为用户和客户打造最好的设计，用设计提升产品和企业价值。
			// [/diy]
		.bottom
			// [diy=wk_about_diy2]
			#wk_about_diy2.area
				#framep2n1bg.frame.move-span.cl.frame-1
					#framep2n1bg_left.column.frame-1-c
						#framep2n1bg_left_temp.move-span.temp
						#portal_block_19.block.move-span
							#portal_block_19_content.dxb_bc
								.portal_block_summary
									dl
										dd
											img(src='/hfour/images/about/guanyu_04.png', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/about/guanyu_04.png')
										dt
											h2 我们沉浸于用户体验
										dt
											h2 帮您挖掘和创新更大商机的可能
									dl
										dd
											img(src='/hfour/images/about/guanyu_06.png', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/about/guanyu_06.png')
										dt
											h2 服务思维下的商业设计
										dt
											h2 撇弃浮夸去直达共同的目标
									dl
										dd
											img(src='/hfour/images/about/guanyu_08.png', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/about/guanyu_08.png')
										dt
											h2 精益合作和分享的态度
										dt
											h2 让我们鼎力相助你的梦想
			// [/diy]
	.clear
	.project_gray
		.project
			// [diy=wk_about_diy3]
			#wk_about_diy3.area
				#frameHCV83Y.frame.move-span.cl.frame-1
					#frameHCV83Y_left.column.frame-1-c
						#frameHCV83Y_left_temp.move-span.temp
						#portal_block_20.block.move-span
							#portal_block_20_content.dxb_bc
								.portal_block_summary
									.about_title
										h1 服务优势
										span 创意、流程、执行缺一不可
									.project_con
										dl
											dd(style='background:url(/hfour/images/about/guanyu_04.png) no-repeat center center;background-size:cover')
												a(href='#')
											dt 从创始至今，我们的业务方向始终不变，专注做好一件事才能更好的追求高品质，这也是weekdesign存在的价值。在未来我们也是基于此信念而继续创造。
										dl
											dd(style='background:url(/hfour/images/about/guanyu_04.png) no-repeat center center;background-size:cover')
												a(href='#')
											dt 在不断的创新和实践中总结出可持续和可信赖的设计流程，坚持与用户一起思考，用设计的方法发现问题、解决问题、输出设计方案，并实现客户产品和企业价值的提升。
										dl
											dd(style='background:url(/hfour/images/about/guanyu_04.png) no-repeat center center;background-size:cover')
												a(href='#')
											dt weekdesign5年来积累了大量优秀的项目案例，并验证了设计的价值。在不断的探索中总结经验，以结果为导向，继续为更多客户提供优秀的设计。
			// [/diy]
	.clear
	.team_box
		.team
			// [diy=wk_about_diy4]
			#wk_about_diy4.area
				#framelo3Fmy.frame.move-span.cl.frame-1
					#framelo3Fmy_left.column.frame-1-c
						#framelo3Fmy_left_temp.move-span.temp
						#portal_block_21.block.move-span
							#portal_block_21_content.dxb_bc
								.portal_block_summary
									.about_title
										h1 我们的团队
									.top
										p
											| 我们是追求品质与力求不断超越自己的团队，每一位成员也是亲密的伙伴，与公司一起成长与发展。我们尊重每次合作的机会与挑战，不断精进，力求完美。团队秉承专注、专业的设计服务思维，让客户通过设计发挥产品的最大价值，并发掘无限的可能。热爱设计并坚信设计的力量让我们不断前进…
									.team_con
										.left_cor
											.boxgrid(style='background:url(/hfour/images/about/guanyu_04.png) no-repeat;background-size:cover')
												.cover
													h3 团队建设活动摄影
											.boxgrid(style='background:url(/hfour/images/about/guanyu_04.png) no-repeat;background-size:cover')
												.cover
													h3 团队建设活动摄影
											.boxgrid(style='background:url(/hfour/images/about/guanyu_04.png) no-repeat;background-size:cover')
												.cover
													h3 团队建设活动摄影
											.boxgrid(style='background:url(/hfour/images/about/guanyu_04.png) no-repeat;background-size:cover')
												.cover
													h3 团队建设活动摄影
										.right_cor
											.boxgrid(style='background:url(/hfour/images/about/guanyu_04.png) no-repeat;background-size:cover')
												.cover1
													h3 团队建设活动摄影
			// [/diy]
	#wp.wp
		.wp
			// [diy=diy1]
			#diy1.area
			// [/diy]
			// [diy=listcontenttop]
			#listcontenttop.area
			// [/diy]
			.clear
			// [diy=diycontentbottom]
			#diycontentbottom.area
			// [/diy]
			.wp.mtn
				// [diy=diy3]
				#diy3.area
				// [/diy]
	include lib/footer