extends layout

block content
	include lib/header
	#wp.wp
		#pt.bm.cl
			.y
				#an
					dl.cl
						dt.z.xw1 公告: 
						dd
							#anc
								ul#ancl
									li
										span
											a.xi2(href="javascript:if(confirm('http://addon.discuz.com/?@week_jiaohu.template  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://addon.discuz.com/?@week_jiaohu.template'", tppabs='http://addon.discuz.com/?@week_jiaohu.template', target='_blank') 周末设计高端企业_交互式模板模板风格上线了
										em (2016-4-13)
				script(type='text/javascript').
					announcement();
			.z
				a.nvhm(href='index.htm', tppabs='http://115.29.97.50/week_jiaohu/', title='首页') 周末设计_交互式演示站点
				em »
				a(href='forum.php.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php') 社区中心
			.z
	
	.wp
		// [diy=diy1]
		#diy1.area
		// [/diy]
	.wp
		// [diy=diy4]
		#diy4.area
		// [/diy]
	#ct.wp.cl.week_ct2
		.mn.wk_sq_mn
			.wk_f_mn.padding15.backfff.mb10
				.wk_sqhdp
					// [diy=wk_lthdp]
					#wk_lthdp.area
						#frameuI0I60.frame.move-span.cl.frame-1
							#frameuI0I60_left.column.frame-1-c
								#frameuI0I60_left_temp.move-span.temp
								#portal_block_7.block.move-span
									#portal_block_7_content.dxb_bc
										#img-play.wk_slide
											ul
												li
													a(href='forum.php-mod=viewthread&tid=40.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=40', title='尼桑召回近4.7万辆Leaf电动汽车 刹车存在问题', target='_blank')
														img(src='/hfour/images/bbs/102124jtlig9uc3i73pvlu.jpg', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/102124jtlig9uc3i73pvlu.jpg', width='850', height='397', alt='尼桑召回近4.7万辆Leaf电动汽车 刹车存在问题')
													.wk_bg
														.avatar
															a(href='home.php-mod=space&uid={uid}.htm', tppabs='http://115.29.97.50/week_jiaohu/home.php?mod=space&uid={uid}')
																img(src='/hfour/images/bbs/noavatar_small.gif', tppabs='http://115.29.97.50/week_jiaohu/uc_server/avatar.php?uid=1&size=small', width='48', height='48', alt='{username}')
														.wk_mjs
															.z
																a(href='forum.php-mod=forumdisplay&fid=38.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=38', title='社区活动', target='_blank') [社区活动]
																span.pipe
																a(href='forum.php-mod=viewthread&tid=40.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=40', title='尼桑召回近4.7万辆Leaf电动汽车 刹车存在问题', target='_blank')
																	| 尼桑召回近4.7万辆Leaf电动汽车
																	| 刹车存在问
															.clear
															p
																| 据Ubergizmo网站报道，尼桑已经发布召回令，召回约4.7万辆Leaf电动汽车——确切地说
												li
													a(href='forum.php-mod=viewthread&tid=30.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=30', title='vivo双曲屏手机Xplay5开卖', target='_blank')
														img(src='/hfour/images/bbs/102043mpf4c49ijoeokfcr.jpg', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/102043mpf4c49ijoeokfcr.jpg', width='850', height='397', alt='vivo双曲屏手机Xplay5开卖')
													.wk_bg
														.avatar
															a(href='home.php-mod=space&uid={uid}.htm', tppabs='http://115.29.97.50/week_jiaohu/home.php?mod=space&uid={uid}')
																img(src='/hfour/images/bbs/noavatar_small.gif', tppabs='http://115.29.97.50/week_jiaohu/uc_server/avatar.php?uid=1&size=small', width='48', height='48', alt='{username}')
														.wk_mjs
															.z
																a(href='forum.php-mod=forumdisplay&fid=38.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=38', title='社区活动', target='_blank') [社区活动]
																span.pipe
																a(href='forum.php-mod=viewthread&tid=30.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=30', title='vivo双曲屏手机Xplay5开卖', target='_blank') vivo双曲屏手机Xplay5开卖
															.clear
															p
																| 在此之前vivo官网已经开启0元预约，用户只需要填写手机号码就可以第一时间收到产品
												li
													a(href='forum.php-mod=viewthread&tid=24.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=24', title='iPhone SE再曝新功能 或支持4K视频拍摄', target='_blank')
														img(src='/hfour/images/bbs/102019iwiikl1ki2wh67i6.jpg', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/102019iwiikl1ki2wh67i6.jpg', width='850', height='397', alt='iPhone SE再曝新功能 或支持4K视频拍摄')
													.wk_bg
														.avatar
															a(href='home.php-mod=space&uid={uid}.htm', tppabs='http://115.29.97.50/week_jiaohu/home.php?mod=space&uid={uid}')
																img(src='/hfour/images/bbs/noavatar_small.gif', tppabs='http://115.29.97.50/week_jiaohu/uc_server/avatar.php?uid=1&size=small', width='48', height='48', alt='{username}')
														.wk_mjs
															.z
																a(href='forum.php-mod=forumdisplay&fid=38.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=38', title='社区活动', target='_blank') [社区活动]
																span.pipe
																a(href='forum.php-mod=viewthread&tid=24.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=24', title='iPhone SE再曝新功能 或支持4K视频拍摄', target='_blank')
																	| iPhone
																	| SE再曝新功能 或支持4K视频拍摄
															.clear
															p
																| 最新消息显示，苹果公司将会在即将召开的春季发布会上推出下一代4英寸iPhone设备“i
												li
													a(href='forum.php-mod=viewthread&tid=21.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=21', title='诺基亚终于又换回自己的标志', target='_blank')
														img(src='/hfour/images/bbs/102007fghl85rixrnixjyy.jpg', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/102007fghl85rixrnixjyy.jpg', width='850', height='397', alt='诺基亚终于又换回自己的标志')
													.wk_bg
														.avatar
															a(href='home.php-mod=space&uid={uid}.htm', tppabs='http://115.29.97.50/week_jiaohu/home.php?mod=space&uid={uid}')
																img(src='/hfour/images/bbs/noavatar_small.gif', tppabs='http://115.29.97.50/week_jiaohu/uc_server/avatar.php?uid=1&size=small', width='48', height='48', alt='{username}')
														.wk_mjs
															.z
																a(href='forum.php-mod=forumdisplay&fid=38.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=38', title='社区活动', target='_blank') [社区活动]
																span.pipe
																a(href='forum.php-mod=viewthread&tid=21.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=21', title='诺基亚终于又换回自己的标志', target='_blank') 诺基亚终于又换回自己的标志
															.clear
															p
																| 现在，诺基亚终于又换回自己的标志
																| 按照微软收购诺基亚手机业务的合同，规定诺基亚
												li
													a(href='forum.php-mod=viewthread&tid=34.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=34', title='2016年实体店可能迎来阳光', target='_blank')
														img(src='/hfour/images/bbs/102059d999dpmw595i7pjd.jpg', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/102059d999dpmw595i7pjd.jpg', width='850', height='397', alt='2016年实体店可能迎来阳光')
													.wk_bg
														.avatar
															a(href='home.php-mod=space&uid={uid}.htm', tppabs='http://115.29.97.50/week_jiaohu/home.php?mod=space&uid={uid}')
																img(src='/hfour/images/bbs/noavatar_small.gif', tppabs='http://115.29.97.50/week_jiaohu/uc_server/avatar.php?uid=1&size=small', width='48', height='48', alt='{username}')
														.wk_mjs
															.z
																a(href='forum.php-mod=forumdisplay&fid=38.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=38', title='社区活动', target='_blank') [社区活动]
																span.pipe
																a(href='forum.php-mod=viewthread&tid=34.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=34', title='2016年实体店可能迎来阳光', target='_blank') 2016年实体店可能迎来阳光
															.clear
															p
																| 结论应该是：实体店崛起，就在2016年。
																| 我与淘宝天猫是友商。因为与之长期对抗，对
												li
													a(href='forum.php-mod=viewthread&tid=84.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=84', title='315晚会向黑手机应用开枪', target='_blank')
														img(src='/hfour/images/bbs/102740yfznwgco8qnr4qe8.jpg', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/102740yfznwgco8qnr4qe8.jpg', width='850', height='397', alt='315晚会向黑手机应用开枪')
													.wk_bg
														.avatar
															a(href='home.php-mod=space&uid={uid}.htm', tppabs='http://115.29.97.50/week_jiaohu/home.php?mod=space&uid={uid}')
																img(src='/hfour/images/bbs/noavatar_small.gif', tppabs='http://115.29.97.50/week_jiaohu/uc_server/avatar.php?uid=1&size=small', width='48', height='48', alt='{username}')
														.wk_mjs
															.z
																a(href='forum.php-mod=forumdisplay&fid=41.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=41', title='瀑布流', target='_blank') [瀑布流]
																span.pipe
																a(href='forum.php-mod=viewthread&tid=84.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=84', title='315晚会向黑手机应用开枪', target='_blank') 315晚会向黑手机应用开枪
															.clear
															p
																| 3月15日消息，在今天晚上中央电视台315晚会上，对黑移动应用软件进行了曝光。一些用
											.num
											a.skip.prev(title='上一张') 上一张
											a.skip.next(title='下一张') 下一张
					// [/diy]
			.wk_f_mn.padding15.backfff
				#chart.bm.bw0.cl
					p.chart.z
						| 今日: 
						em 0
						span.pipe |
						| 昨日: 
						em 0
						span.pipe |
						| 帖子:
						em 100
						span.pipe |
						| 会员: 
						em 72
						span.pipe |
						| 欢迎新会员: 
						em
							a.xi2(href='home.php-mod=space&username=week.htm', tppabs='http://115.29.97.50/week_jiaohu/home.php?mod=space&username=week', target='_blank') week
					.y
						a.xi2(href='forum.php-mod=guide&view=new.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=guide&view=new', title='最新回复') 最新回复
				// [diy=diy_chart]
				#diy_chart.area
				// [/diy]
				.fl.bm
					.bm.bmw.flg.cl
						.bm_h.cl
							span.o
								img#category_1_img(src='/hfour/images/bbs/collapsed_no.gif', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs//collapsed_no.gif', title='收起/展开', alt='收起/展开', onclick="toggle_collapse('category_1');")
							h2
								a(href='forum.php-gid=1.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?gid=1', style='') 周末设计
						#category_1.bm_c(style='')
							table.fl_tb(cellspacing='0', cellpadding='0')
								tbody
									tr
										td.fl_g(width='49.9%')
											.fl_icn_g(style='width: 60px;')
												a(href='forum.php-mod=forumdisplay&fid=2.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=2')
													img(src='/hfour/images/bbs/common_2_icon.png', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/common_2_icon.png', align='left', alt='')
											dl(style='margin-left: 60px;')
												dt
													a(href='forum.php-mod=forumdisplay&fid=2.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=2') 社区生活
												dd
													em 主题: 0
													| , 
													em 帖数: 0
												dd
													| 从未
										td.fl_g(width='49.9%')
											.fl_icn_g(style='width: 60px;')
												a(href='forum.php-mod=forumdisplay&fid=38.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=38')
													img(src='/hfour/images/bbs/common_2_icon.png', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/common_2_icon.png', align='left', alt='')
											dl(style='margin-left: 60px;')
												dt
													a(href='forum.php-mod=forumdisplay&fid=38.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=38') 社区活动
												dd
													em 主题: 28
													| , 
													em 帖数: 36
												dd
													a.xi2(href='forum.php-mod=viewthread&tid=40.htm#lastpost', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=redirect&tid=40&goto=lastpost#lastpost') 尼桑召回近4.7万辆Leaf电动汽车 ...
													cite
														| 2016-12-3 13:48 
														a(href='home.php-mod=space&username=week.htm', tppabs='http://115.29.97.50/week_jiaohu/home.php?mod=space&username=week') week
									tr.fl_row
										td.fl_g(width='49.9%')
											.fl_icn_g(style='width: 60px;')
												a(href='forum.php-mod=forumdisplay&fid=39.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=39')
													img(src='/hfour/images/bbs/common_2_icon.png', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/common_2_icon.png', align='left', alt='')
											dl(style='margin-left: 60px;')
												dt
													a(href='forum.php-mod=forumdisplay&fid=39.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=39') 员工天地
												dd
													em 主题: 0
													| , 
													em 帖数: 0
												dd
													| 从未
										td.fl_g(width='49.9%')
											.fl_icn_g(style='width: 60px;')
												a(href='forum.php-mod=forumdisplay&fid=40.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=40')
													img(src='/hfour/images/bbs/common_2_icon.png', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/common_2_icon.png', align='left', alt='')
											dl(style='margin-left: 60px;')
												dt
													a(href='forum.php-mod=forumdisplay&fid=40.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=40') 旅游生活
												dd
													em 主题: 0
													| , 
													em 帖数: 0
												dd
													| 从未
					.bm.bmw.flg.cl
						.bm_h.cl
							span.o
								img#category_36_img(src='/hfour/images/bbs/collapsed_no.gif', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs//collapsed_no.gif', title='收起/展开', alt='收起/展开', onclick="toggle_collapse('category_36');")
							h2
								a(href='forum.php-gid=36.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?gid=36', style='') 高端企业
						#category_36.bm_c(style='')
							table.fl_tb(cellspacing='0', cellpadding='0')
								tbody
									tr
										td.fl_g(width='49.9%')
											.fl_icn_g(style='width: 60px;')
												a(href='forum.php-mod=forumdisplay&fid=41.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=41')
													img(src='/hfour/images/bbs/common_2_icon.png', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/common_2_icon.png', align='left', alt='')
											dl(style='margin-left: 60px;')
												dt
													a(href='forum.php-mod=forumdisplay&fid=41.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=41') 瀑布流
												dd
													em 主题: 32
													| , 
													em 帖数: 34
												dd
													a.xi2(href='forum.php-mod=viewthread&tid=84.htm#lastpost', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=redirect&tid=84&goto=lastpost#lastpost') 315晚会向黑手机应用开枪
													cite
														| 2016-4-8 10:27 
														a(href='home.php-mod=space&username=admin.htm', tppabs='http://115.29.97.50/week_jiaohu/home.php?mod=space&username=admin') admin
										td.fl_g(width='49.9%')
											.fl_icn_g(style='width: 60px;')
												a(href='forum.php-mod=forumdisplay&fid=42.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=42')
													img(src='/hfour/images/bbs/common_2_icon.png', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/common_2_icon.png', align='left', alt='')
											dl(style='margin-left: 60px;')
												dt
													a(href='forum.php-mod=forumdisplay&fid=42.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=42') 美图欣赏
												dd
													em 主题: 1
													| , 
													em 帖数: 1
												dd
													a.xi2(href='forum.php-mod=viewthread&tid=90.htm#lastpost', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=redirect&tid=90&goto=lastpost#lastpost') 发士大夫士大夫似的
													cite
														| 2017-1-2 23:17 
														a(href='home.php-mod=space&username=QQ_DC3C96.htm', tppabs='http://115.29.97.50/week_jiaohu/home.php?mod=space&username=QQ_DC3C96') QQ_DC3C96
									tr.fl_row
										td.fl_g(width='49.9%')
											.fl_icn_g(style='width: 60px;')
												a(href='forum.php-mod=forumdisplay&fid=43.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=43')
													img(src='/hfour/images/bbs/common_2_icon.png', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/common_2_icon.png', align='left', alt='')
											dl(style='margin-left: 60px;')
												dt
													a(href='forum.php-mod=forumdisplay&fid=43.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=43') 产品推荐
												dd
													em 主题: 4
													| , 
													em 帖数: 4
												dd
													a.xi2(href='forum.php-mod=viewthread&tid=91.htm#lastpost', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=redirect&tid=91&goto=lastpost#lastpost') 计算器设计推荐
													cite
														| 2017-2-20 09:28 
														a(href='home.php-mod=space&username=week.htm', tppabs='http://115.29.97.50/week_jiaohu/home.php?mod=space&username=week') week
										td.fl_g(width='49.9%')
											.fl_icn_g(style='width: 60px;')
												a(href='forum.php-mod=forumdisplay&fid=44.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=44')
													img(src='/hfour/images/bbs/common_2_icon.png', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/common_2_icon.png', align='left', alt='')
											dl(style='margin-left: 60px;')
												dt
													a(href='forum.php-mod=forumdisplay&fid=44.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=44') 成功案例
												dd
													em 主题: 25
													| , 
													em 帖数: 25
												dd
													a.xi2(href='forum.php-mod=viewthread&tid=68.htm#lastpost', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=redirect&tid=68&goto=lastpost#lastpost') 用这些准备一桌科技范儿的年夜饭
													cite
														| 2016-4-8 10:23 
														a(href='home.php-mod=space&username=admin.htm', tppabs='http://115.29.97.50/week_jiaohu/home.php?mod=space&username=admin') admin
					.bm.bmw.flg.cl
						.bm_h.cl
							span.o
								img#category_37_img(src='/hfour/images/bbs/collapsed_no.gif', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs//collapsed_no.gif', title='收起/展开', alt='收起/展开', onclick="toggle_collapse('category_37');")
							h2
								a(href='forum.php-gid=37.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?gid=37', style='') 精品企业
						#category_37.bm_c(style='')
							table.fl_tb(cellspacing='0', cellpadding='0')
								tbody
									tr
										td.fl_g(width='49.9%')
											.fl_icn_g(style='width: 60px;')
												a(href='forum.php-mod=forumdisplay&fid=45.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=45')
													img(src='/hfour/images/bbs/common_2_icon.png', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/common_2_icon.png', align='left', alt='')
											dl(style='margin-left: 60px;')
												dt
													a(href='forum.php-mod=forumdisplay&fid=45.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=45') 站务服务
												dd
													em 主题: 0
													| , 
													em 帖数: 0
												dd
													| 从未
										td.fl_g(width='49.9%')
											.fl_icn_g(style='width: 60px;')
												a(href='forum.php-mod=forumdisplay&fid=46.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=46')
													img(src='/hfour/images/bbs/common_2_icon.png', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/common_2_icon.png', align='left', alt='')
											dl(style='margin-left: 60px;')
												dt
													a(href='forum.php-mod=forumdisplay&fid=46.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=46') 意见反馈
												dd
													em 主题: 0
													| , 
													em 帖数: 0
												dd
													| 从未
				.wp.mtn
					// [diy=diy3]
					#diy3.area
					// [/diy]
				#online.bm.oll
					.bm_h
						span.o
							a(href='forum.php-showoldetails=no.htm#online', tppabs='http://115.29.97.50/week_jiaohu/forum.php?showoldetails=no#online', title='收起/展开')
								img(src='/hfour/images/bbs/collapsed_no.gif', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs//collapsed_no.gif', alt='收起/展开')
						h3
							strong
								a(href='home.php-mod=space&do=friend&view=online&type=member.htm', tppabs='http://115.29.97.50/week_jiaohu/home.php?mod=space&do=friend&view=online&type=member') 在线会员
							span.xs1
								| - 
								strong 3
								|  人在线
								|                                     - 
								strong 0
								|  会员(
								strong 0
								|  隐身),
								strong 3
								|  位游客
								|                                     - 最高记录是 
								strong 55
								|  于 
								strong 2016-7-16
								| .
					dl#onlinelist.bm_c
						dt.ptm.pbm.bbda
							img(src='/hfour/images/bbs/online_admin.gif', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/online_admin.gif')
							|                                 管理员       
							img(src='/hfour/images/bbs/online_supermod.gif', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/online_supermod.gif')
							|                                 超级版主       
							img(src='/hfour/images/bbs/online_moderator.gif', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/online_moderator.gif')
							|                                 版主       
							img(src='/hfour/images/bbs/online_member.gif', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/online_member.gif')
							|                                 会员
						dd.ptm.pbm
							ul.cl
								li(style='width: auto') 当前只有游客或隐身会员在线
				.bm.lk
					#category_lk.bm_c.ptm
						ul.m.mbn.cl
							li.lk_logo.mbm.bbda.cl
								img(src='/hfour/images/bbs/logo_88_31.gif', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/logo_88_31.gif', border='0', alt='官方论坛')
								.lk_content.z
									h5
										a(href="javascript:if(confirm('http://www.discuz.net/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.discuz.net/'", tppabs='http://www.discuz.net/', target='_blank') 官方论坛
									p 提供最新 Discuz! 产品新闻、软件下载与技术交流
						ul.x.mbm.cl
							li
								a(href="javascript:if(confirm('http://www.comsenz.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.comsenz.com/'", tppabs='http://www.comsenz.com/', target='_blank', title='Comsenz') Comsenz
							li
								a(href="javascript:if(confirm('http://www.manyou.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.manyou.com/'", tppabs='http://www.manyou.com/', target='_blank', title='漫游平台') 漫游平台
							li
								a(href="javascript:if(confirm('http://www.yeswan.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.yeswan.com/'", tppabs='http://www.yeswan.com/', target='_blank', title='Yeswan') Yeswan
							li
								a(href="javascript:if(confirm('http://www.verydz.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.verydz.com/'", tppabs='http://www.verydz.com/', target='_blank', title='专用主机') 专用主机
		#sd.sd.wk_f_sd
			.drag
				// [diy=diy2]
				#diy2.area
				// [/diy]
			.wk_kd260.padding15.backfff
				a.wk_tzpost(onclick="showWindow('nav', this.href, 'get', 0)", href='forum.php-mod=misc&action=nav.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=misc&action=nav', title='发帖')
					i.icon.wk_tzpost_icon1
					span 发帖
				a.wk_tzpost(href='plugin.php-id=dsu_paulsign-sign.htm', tppabs='http://115.29.97.50/week_jiaohu/plugin.php?id=dsu_paulsign:sign', title='签到')
					i.icon.wk_tzpost_icon3
					span 签到
				.clear
			.clear
			.backfff.wk_bk_search
				#scbar.cl
					form#scbar_form(method='post', autocomplete='off', onsubmit="searchFocus($('scbar_txt'))", action='http://115.29.97.50/week_jiaohu/search.php?searchsubmit=yes', target='_blank')
						input#scbar_mod(type='hidden', name='mod', value='search')
						input(type='hidden', name='formhash', value='40b70cd1')
						input(type='hidden', name='srchtype', value='title')
						input(type='hidden', name='srhfid', value='')
						input(type='hidden', name='srhlocality', value='forum::index')
						table(cellspacing='0', cellpadding='0')
							tbody
								tr
									td.scbar_txt_td
										input#scbar_txt(type='text', name='srchtxt', value='请输入搜索内容', autocomplete='off', x-webkit-speech='', speech='')
									td.scbar_type_td
										a#scbar_type.xg1(href='javascript:;', onclick='showMenu(this.id)', hidefocus='true') 搜索
									td.scbar_btn_td
										button#scbar_btn.pn.pnc(type='submit', name='searchsubmit', sc='1', value='true')
											strong.xi2 搜索
				.clear
			.clear
			.wk_lbbkx.backfff
				.wk_rmbk
					span.wk_spat 热门版块：
					.clear
					// [diy=wk_rmbk_diy]
					#wk_rmbk_diy.area
						#frameFEHEWB.frame.move-span.cl.frame-1
							#frameFEHEWB_left.column.frame-1-c
								#frameFEHEWB_left_temp.move-span.temp
								#portal_block_3.block.move-span
									#portal_block_3_content.dxb_bc
										ul
											li
												a(href='forum.php-mod=forumdisplay&fid=41.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=41', title='瀑布流', target='_blank') 瀑布流
											li
												a(href='forum.php-mod=forumdisplay&fid=38.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=38', title='社区活动', target='_blank') 社区活动
											li
												a(href='forum.php-mod=forumdisplay&fid=44.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=44', title='成功案例', target='_blank') 成功案例
											li
												a(href='forum.php-mod=forumdisplay&fid=43.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=43', title='产品推荐', target='_blank') 产品推荐
											li
												a(href='forum.php-mod=forumdisplay&fid=42.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=42', title='美图欣赏', target='_blank') 美图欣赏
											li
												a(href='forum.php-mod=forumdisplay&fid=40.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=40', title='旅游生活', target='_blank') 旅游生活
											li
												a(href='forum.php-mod=forumdisplay&fid=39.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=39', title='员工天地', target='_blank') 员工天地
											li
												a(href='forum.php-mod=forumdisplay&fid=46.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=46', title='意见反馈', target='_blank') 意见反馈
											li
												a(href='forum.php-mod=forumdisplay&fid=45.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=45', title='站务服务', target='_blank') 站务服务
											li
												a(href='forum.php-mod=forumdisplay&fid=2.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=forumdisplay&fid=2', title='社区生活', target='_blank') 社区生活
					// [/diy]
			.clear
			.mb10
				// [diy=wk_bkad_diy1]
				#wk_bkad_diy1.area
				// [/diy]
			.clear
			.wk_kd260.padding15.backfff
				.wk_bktjtz
					span.wk_spae 帖子推荐：
					.clear
					// [diy=wk_tjtz_diy]
					#wk_tjtz_diy.area
						#frameZ1NsFj.frame.move-span.cl.frame-1
							#frameZ1NsFj_left.column.frame-1-c
								#frameZ1NsFj_left_temp.move-span.temp
								#portal_block_4.block.move-span
									#portal_block_4_content.dxb_bc
										.module.cl.xl.xl1
											ul
												li
													span 01.
													a(href='forum.php-mod=viewthread&tid=91.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=91', title='计算器设计推荐', target='_blank') 计算器设计推荐
												li
													span 02.
													a(href='forum.php-mod=viewthread&tid=90.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=90', title='发士大夫士大夫似的', target='_blank') 发士大夫士大夫似的
												li
													span 03.
													a(href='forum.php-mod=viewthread&tid=40.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=40', title='尼桑召回近4.7万辆Leaf电动汽车 刹车存在问题', target='_blank')
														| 尼桑召回近4.7万辆Leaf电动汽车
														| 刹车存在问
												li
													span 04.
													a(href='forum.php-mod=viewthread&tid=89.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=89', title='阿萨撒旦撒的撒打算', target='_blank') 阿萨撒旦撒的撒打算
												li
													span 05.
													a(href='forum.php-mod=viewthread&tid=88.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=88', title='手机无法上传图片，回复操作时，无法显示验证码。', target='_blank') 手机无法上传图片，回复操作时，无法显示验
												li
													span 06.
													a(href='forum.php-mod=viewthread&tid=30.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=30', title='vivo双曲屏手机Xplay5开卖', target='_blank') vivo双曲屏手机Xplay5开卖
												li
													span 07.
													a(href='forum.php-mod=viewthread&tid=87.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=87', title='123123123123', target='_blank') 123123123123
												li
													span 08.
													a(href='forum.php-mod=viewthread&tid=86.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=86', title='做一个demo', target='_blank') 做一个demo
					// [/diy]
			.clear
			.wk_kd260.padding15.backfff
				.wk_bktwrt
					span.wk_spaf 图文热帖：
					.clear
					// [diy=wk_twrt_diy]
					#wk_twrt_diy.area
						#frameR707nU.frame.move-span.cl.frame-1
							#frameR707nU_left.column.frame-1-c
								#frameR707nU_left_temp.move-span.temp
								#portal_block_6.block.move-span
									#portal_block_6_content.dxb_bc
										.module.cl.ml
											ul
												li(style='width: 260px;')
													a(href='forum.php-mod=viewthread&tid=40.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=40', target='_blank')
														img(src='/hfour/images/bbs/a52314abffeeb68bbb9cfcadf6449c5a.jpg', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/a52314abffeeb68bbb9cfcadf6449c5a.jpg', width='254', height='140', alt='尼桑召回近4.7万辆Leaf电动汽车 刹车存在问题')
													p
														a(href='forum.php-mod=viewthread&tid=40.htm', tppabs='http://115.29.97.50/week_jiaohu/forum.php?mod=viewthread&tid=40', title='尼桑召回近4.7万辆Leaf电动汽车 刹车存在问题', target='_blank')
															| 尼桑召回近4.7万辆Leaf电动汽车
															| 刹车存在问
					// [/diy]
			.clear
			.backfff.mb10
				// [diy=wk_bkad_diy2]
				#wk_bkad_diy2.area
					#frametu24ED.frame.move-span.cl.frame-1
						#frametu24ED_left.column.frame-1-c
							#frametu24ED_left_temp.move-span.temp
							#portal_block_5.block.move-span
								#portal_block_5_content.dxb_bc
									.portal_block_summary
										img(src='/hfour/images/bbs/ad03.jpg', tppabs='http://115.29.97.50/week_jiaohu//hfour/images/bbs/ad03.jpg', width='100%', height='115')
				// [/diy]
			.clear
			.wk_kd260.padding15.backfff
				.wk_opkf
					span.wk_spac 客服咨询
					.clear
					.wk_topyb.cl
						p.wk_font1 400-1234-5678
						p.wk_font2 服务时间 9:00-22:00
					ul.cl
						li
							a(href='#', target='_blank', title='在线客服')
								i.wk_ico1
								| 在线客服
						li.last
							a(target='_blank', href='#', title='客服微博')
								i.wk_ico2
								| 客服微博
						li
							a(target='_blank', href='#', title='产品咨询')
								i.wk_ico3
								| 产品咨询
						li.last
							a(target='_blank', href='#', title='售后咨询')
								i.wk_ico3
								| 售后咨询
			.clear
			.mb10
				// [diy=wk_bkad_diy3]
				#wk_bkad_diy3.area
				// [/diy]
			.clear
	include lib/footer