
extends layout

block content
	include lib/header	
	.wk_list_box.wk_list_box17
	.wk_blog_tab
		ul
			li
				a.a(href='portal.php-mod=list&catid=4.htm', title='项目案例') 全部
			li
				a(href='portal.php-mod=list&catid=18.htm',  title='经典案例') 经典案例
			li
				a(href='portal.php-mod=list&catid=19.htm', title='最近案例') 最近案例
		.clear
	.clear
	.wk_ymbg
		#wp.wp
			.wp
				// [diy=diy1]
				#diy1.area
				// [/diy]
			.week-case
				// [diy=listcontenttop]
				#listcontenttop.area
				// [/diy]
				.week-case_con
					dl
						dd(style='background:url(/hfour/images/cases/114521d7tr988g58c5x9hl.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=168.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=168', title='携手正量网开创工程建设电商新未来', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=168.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=168', title='携手正量网开创工程建设电商新未来', target='_blank') 携手正量网开创工程建设电商新未来
						dt
							a.xi2(href='portal.php-mod=list&catid=18.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=18', target='_blank') 经典案例
							span.pipe
							| 2016-4-15 11:45
						dt.dt3
							| 正量网是面向工程建设领域、用户以真实身份参与的社交和电子商务服务平台。正量网以交易平台连接工程建设产业、金融资本、互联网技术三方资源和客户，融合创新、合作促进、共同发展。正量网使命是以互联网电子商务优
							| ...
					dl
						dd(style='background:url(/hfour/images/cases/114253vkylucwqux00lffq.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=167.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=167', title='签约金蝶云创，助力企业SAAS服务', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=167.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=167', title='签约金蝶云创，助力企业SAAS服务', target='_blank') 签约金蝶云创，助力企业SAAS服务
						dt
							a.xi2(href='portal.php-mod=list&catid=18.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=18', target='_blank') 经典案例
							span.pipe
							| 2016-4-15 11:42
						dt.dt3
							| 北京金蝶云创软件技术有限公司，是金蝶软件（中国）有限公司投资的一家基于IT技术的专业服务提供商。金蝶云创致力于IT技术推动企业发展，帮助客户成功的商业理念，为客户提供信息化管理解决方案、改变客户体验、创新
							| ...
					dl
						dd(style='background:url(/hfour/images/cases/114013cbogsrkn79obs5gb.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=166.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=166', title='硅谷明星教育团队米豆教育', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=166.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=166', title='硅谷明星教育团队米豆教育', target='_blank') 硅谷明星教育团队米豆教育
						dt
							a.xi2(href='portal.php-mod=list&catid=19.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=19', target='_blank') 最近案例
							span.pipe
							| 2016-4-15 11:40
						dt.dt3
							| 米豆提供的课程手把手地让学生在项目中学到知识，可以激发学生的好奇心，帮助他们建立自信心并提高与人协作的能力。在米豆身临其境的课程中，来自中美两国志同道合的学生们可以互相启发与学习，在获取知识技能、学会
							| ...
					dl
						dd(style='background:url(/hfour/images/cases/113918v5riik3ytqdr44cc.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=165.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=165', title='四维图新 - 趣逛地图', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=165.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=165', title='四维图新 - 趣逛地图', target='_blank') 四维图新 - 趣逛地图
						dt
							a.xi2(href='portal.php-mod=list&catid=19.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=19', target='_blank') 最近案例
							span.pipe
							| 2016-4-15 11:39
						dt.dt3
							| 为其设计的一款支持定位、搜索与引导的室内导航软件，其覆盖机场、火车站和购物中心等室内场景。主要功能点包括室内地图浏览、室内定位、设施查找、室内导航以及停车提醒。北京四维图新科技股份有限公司是中国领先的
							| ...
					dl
						dd(style='background:url(/hfour/images/cases/113650uxytic7apsamgxxx.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=164.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=164', title='我开始健身pad端app', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=164.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=164', title='我开始健身pad端app', target='_blank') 我开始健身pad端app
						dt
							a.xi2(href='portal.php-mod=list&catid=19.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=19', target='_blank') 最近案例
							span.pipe
							| 2016-4-15 11:37
						dt.dt3
							| 我开始健身是一个新型的互动网络平台，鼓励人们积极开创健康向上的美好生活。可以跟视频做运动，同时获取积分，也可以分享运动视频给我的好友。在这里，你可以体验最潮的健身动作，收获最棒的运动心态！
					dl
						dd(style='background:url(/hfour/images/cases/113532kpduozcekcdzoomp.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=163.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=163', title='优品汇手机助手', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=163.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=163', title='优品汇手机助手', target='_blank') 优品汇手机助手
						dt
							a.xi2(href='portal.php-mod=list&catid=19.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=19', target='_blank') 最近案例
							span.pipe
							| 2016-4-15 11:35
						dt.dt3
							| 优品汇手机助手是week
							| design为国内首支纯粹以手机发烧友为主的手机软件服务团队苏州优生活传媒科技设计的一款Android应用商店客户端，可提供常用的安卓软件和游戏下载安装及管理，优品汇专业为手机营业厅定制，是你
							| ...
					dl
						dd(style='background:url(/hfour/images/cases/113424lzkku0kue0xhxhwl.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=162.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=162', title='为律生活打造在线法律服务平台', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=162.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=162', title='为律生活打造在线法律服务平台', target='_blank') 为律生活打造在线法律服务平台
						dt
							a.xi2(href='portal.php-mod=list&catid=19.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=19', target='_blank') 最近案例
							span.pipe
							| 2016-4-15 11:34
						dt.dt3
							| 律生活整合律师和律所资源，利用互联网及移动互联网平台,打造一个垂直性的综合法律服务资源整合平台，为产品研发、法律服务、市场营销、品牌管理等创新法律服务而服务,真正做到了集在线法律信息服务、法律电商服务、
							| ...
					dl
						dd(style='background:url(/hfour/images/cases/113314zjrnd0fph0xchgqx.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=161.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=161', title='Jackery app', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=161.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=161', title='Jackery app', target='_blank') Jackery app
						dt
							a.xi2(href='portal.php-mod=list&catid=19.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=19', target='_blank') 最近案例
							span.pipe
							| 2016-4-15 11:33
						dt.dt3
							| Jcakery是一家位于美国硅谷的技术公司，从事智能手机和平板电脑的创新电池解决方案，Jcakery app由nicedesign负责UX/UI设计。Upon
							| launching the app, you're immediately greeted with the Monitor screen. It show ...
					dl
						dd(style='background:url(/hfour/images/cases/113154j24m4kk2gdkvgk4w.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=160.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=160', title='iPin打造的图片社区app', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=160.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=160', title='iPin打造的图片社区app', target='_blank') iPin打造的图片社区app
						dt
							a.xi2(href='portal.php-mod=list&catid=19.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=19', target='_blank') 最近案例
							span.pipe
							| 2016-4-15 11:31
						dt.dt3
							| iPin图片社区是一款基于主题进行图片共建和维护，保存与分享图片的社区，可以共建相册、邀请好友、创建圈子和加入圈子、与好友互动聊天，也可以发现周边有趣的相册标签并加入。它以满足多名用户同时维护某一相册，实
							| ...
					dl
						dd(style='background:url(/hfour/images/cases/113031b2y6eee7r5rms2ao.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=159.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=159', title='零担速配APP案例', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=159.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=159', title='零担速配APP案例', target='_blank') 零担速配APP案例
						dt
							a.xi2(href='portal.php-mod=list&catid=19.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=19', target='_blank') 最近案例
							span.pipe
							| 2016-4-15 11:30
						dt.dt3
							| 我们发现货车司机大部分是个体，缺乏统一的后台信息服务系统，导致他们的运输效率非常低。比如从A地到B地卸货后，司机在异地很难找到回程货，导致成本极大。如果有一个信息服务系统，让他们运输节奏紧凑的话，他们的
							| ...
					dl
						dd(style='background:url(/hfour/images/cases/112849jyj8h8eb21yt8jgj.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=158.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=158', title='云图是互联网大数据的聚合平台', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=158.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=158', title='云图是互联网大数据的聚合平台', target='_blank') 云图是互联网大数据的聚合平台
						dt
							a.xi2(href='portal.php-mod=list&catid=19.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=19', target='_blank') 最近案例
							span.pipe
							| 2016-4-15 11:28
						dt.dt3
							| 云图是互联网大数据的聚合平台，通过处理分析海量互联网资讯、话题、观点、评论等信息，以真实、及时、省时为原则，为海尔集团、利共体或者第三方提供互联网精选信息、需求研究、危机预警等信息服务。本次合作，nice
							| ...
					dl
						dd(style='background:url(/hfour/images/cases/134540vf19bfvm53rv55jr.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=157.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=157', title='vivo Xplay5双曲面屏', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=157.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=157', title='vivo Xplay5双曲面屏', target='_blank') vivo Xplay5双曲面屏
						dt
							a.xi2(href='portal.php-mod=list&catid=18.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=18', target='_blank') 经典案例
							span.pipe
							| 2016-3-16 13:45
						dt.dt3
							| 还有一个变化需要提及，vivo
							| Xplay5上使用的双卡和之前X6、X5等一系列的机器都有了变化，这次Xplay5将不再支持TF卡槽对内存进行扩展。这是否是双曲面屏幕给手机带来的内部空间紧缩致使的不得而知，但vivo确实拿掉了T
							| ...
					.clear
				.clear
				.pgs.cl
					.pg
						strong 1
						a(href='portal.php-mod=list&catid=4&page=2.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=4&page=2') 2
						a(href='portal.php-mod=list&catid=4&page=3.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=4&page=3') 3
						a(href='portal.php-mod=list&catid=4&page=4.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=4&page=4') 4
						a(href='portal.php-mod=list&catid=4&page=5.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=4&page=5') 5
						label
							input.px(type='text', name='custompage', size='2', title='输入页码，按回车快速跳转', value='1', onkeydown="if(event.keyCode==13) {window.location='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=4&page='+this.value;; doane(event);}")
							span(title='共 5 页')  / 5 页
						a.nxt(href='portal.php-mod=list&catid=4&page=2.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=4&page=2') 下一页
				// [diy=diycontentbottom]
				#diycontentbottom.area
				// [/diy]
		.wp.mtn
			// [diy=diy3]
			#diy3.area
			// [/diy]
	include lib/footer
