extends layout

block content
	include lib/header	
	.wk_list_box.wk_list_box15
	.clear
	.wk_ymbg
		#wp.wp
			.wp
				#diy1.area
			#ct.ct2.wp.cl
				.mn
					.wk_c_right_name
						.wk_c_right_name_r
							ul
								li
									img(src='/public/images/news/right_wz.png', tppabs='http://115.29.97.50/week_jiaohu/template/week_jiaohu/images//portal/right_wz.png', alt='')
								li
									span 您现在的位置：
									span
										a(href='portal.php', tppabs='http://115.29.97.50/week_jiaohu/portal.php') 企业首页
									span →
									span 新闻资讯
					#listcontenttop.area
					.wk_content_right_m
						.wk_tidings_m
							.wk_tidings_main
								.wk_tidings_img
									a(href='portal.php-mod=view&aid=113', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=113', target='_blank', title='乐视新机渲染图曝光 又一款国产曲面屏手机')
										img(src='/public/images/news/131735qpvq5qvmu2854f4l.jpg.thumb.jpg', tppabs='http://115.29.97.50/week_jiaohu//public/images/news/131735qpvq5qvmu2854f4l.jpg.thumb.jpg', alt='乐视新机渲染图曝光 又一款国产曲面屏手机')
								.wk_tidings_main_name
									span.wk_tidings_main_name2
										a(href='portal.php-mod=view&aid=113', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=113', target='_blank', title='乐视新机渲染图曝光 又一款国产曲面屏手机') 乐视新机渲染图曝光 又一款国产曲面屏手机
								.wk_tidings_main_cnt
									span.wk_tidings_main_cnt2
										| 传闻近期正式登场的乐视超级手机2代最近谍照频传，并有消息称将首发Helio
										| X20处理器。而现在，国外网站9to5 Google又放出一组乐视超级手机2代的概念渲染图，其外形看起来相当惊艳，不仅采用了双曲面屏设计，而且机身 ...
								.wk_tidings_main_more
									a(target='_blank', title='more', href='portal.php-mod=view&aid=113', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=113') more>>
							.wk_tidings_main
								.wk_tidings_img
									a(href='portal.php-mod=view&aid=111', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=111', target='_blank', title='优朋普乐计划起诉网络机顶盒厂商昂云天侵权')
										img(src='/public/images/news/131608ekggvi43rbyn66ef.jpg.thumb.jpg', tppabs='http://115.29.97.50/week_jiaohu//public/images/news/131608ekggvi43rbyn66ef.jpg.thumb.jpg', alt='优朋普乐计划起诉网络机顶盒厂商昂云天侵权')
								.wk_tidings_main_name
									span.wk_tidings_main_name2
										a(href='portal.php-mod=view&aid=111', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=111', target='_blank', title='优朋普乐计划起诉网络机顶盒厂商昂云天侵权') 优朋普乐计划起诉网络机顶盒厂商昂云天侵权
								.wk_tidings_main_cnt
									span.wk_tidings_main_cnt2
										| 3月15日消息，今天上午，北京优朋普乐科技有限公司面向全行业发布法律诉讼公告，宣布对“深圳昂云天科技有限公司”的严重侵权行为提起法律诉讼。起诉原因主要因为该公司擅自盗用“优朋普乐”、“优朋影视”等公司标
										| ...
								.wk_tidings_main_more
									a(target='_blank', title='more', href='portal.php-mod=view&aid=111', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=111') more>>
							.wk_tidings_main
								.wk_tidings_img
									a(href='portal.php-mod=view&aid=112', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=112', target='_blank', title='家庭安全摄像头：应选择本地还是云端存储？')
										img(src='/public/images/news/131633sakmq83ljgqblk88.jpg.thumb.jpg', tppabs='http://115.29.97.50/week_jiaohu//public/images/news/131633sakmq83ljgqblk88.jpg.thumb.jpg', alt='家庭安全摄像头：应选择本地还是云端存储？')
								.wk_tidings_main_name
									span.wk_tidings_main_name2
										a(href='portal.php-mod=view&aid=112', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=112', target='_blank', title='家庭安全摄像头：应选择本地还是云端存储？') 家庭安全摄像头：应选择本地还是云端存储？
								.wk_tidings_main_cnt
									span.wk_tidings_main_cnt2
										| 如果你担心家中遭窃，无线安全摄像头显然是一个新的解决方案。它们能够一直接入WIFI网络，具有动作监测、夜视甚至是面部识别功能，可以在发生可疑情况时第一时间向你的手机发送通知，非常方便。目前，家庭安全摄像头
										| ...
								.wk_tidings_main_more
									a(target='_blank', title='more', href='portal.php-mod=view&aid=112', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=112') more>>
							.wk_tidings_main
								.wk_tidings_img
									a(href='portal.php-mod=view&aid=104', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=104', target='_blank', title='乐视70寸智能电视 内容丰富遥控颜值不搭调')
										img(src='/public/images/news/131310vq7u7fbq7ampy0zu.jpg.thumb.jpg', tppabs='http://115.29.97.50/week_jiaohu//public/images/news/131310vq7u7fbq7ampy0zu.jpg.thumb.jpg', alt='乐视70寸智能电视 内容丰富遥控颜值不搭调')
								.wk_tidings_main_name
									span.wk_tidings_main_name2
										a(href='portal.php-mod=view&aid=104', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=104', target='_blank', title='乐视70寸智能电视 内容丰富遥控颜值不搭调') 乐视70寸智能电视 内容丰富遥控颜值不搭调
								.wk_tidings_main_cnt
									span.wk_tidings_main_cnt2
										| 70英寸大屏 分体式设计乐视超4
										| Max70采用了时下流行的分体式设计，分为电视屏幕、主机sonudnbar和一个蓝牙低音炮。前面板使用了全金属外观，银色机身和黑色主机/音响，搭配70英寸的大屏幕，显得很有质感，也让人觉得
										| ...
								.wk_tidings_main_more
									a(target='_blank', title='more', href='portal.php-mod=view&aid=104', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=104') more>>
							.wk_tidings_main
								.wk_tidings_img
									a(href='portal.php-mod=view&aid=101', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=101', target='_blank', title='传LG和三星今年将削减或放弃3D电视产品线')
										img(src='/public/images/news/131203yjx4j4ccc1rwbpxx.png.thumb.jpg', tppabs='http://115.29.97.50/week_jiaohu//public/images/news/131203yjx4j4ccc1rwbpxx.png.thumb.jpg', alt='传LG和三星今年将削减或放弃3D电视产品线')
								.wk_tidings_main_name
									span.wk_tidings_main_name2
										a(href='portal.php-mod=view&aid=101', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=101', target='_blank', title='传LG和三星今年将削减或放弃3D电视产品线') 传LG和三星今年将削减或放弃3D电视产品线
								.wk_tidings_main_cnt
									span.wk_tidings_main_cnt2
										| 2009年《阿凡达》的重磅登场让影院全面进入了3D时代，而家电厂商们也趁机推出了配备3D显示技术的电视产品，但不幸的是经过几年的发展，3D电视依旧不温不火，而消费者们所关心的重点也逐渐转向了曲面、4K等其他方面。
										| ...
								.wk_tidings_main_more
									a(target='_blank', title='more', href='portal.php-mod=view&aid=101', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=101') more>>
							.wk_tidings_main
								.wk_tidings_img
									a(href='portal.php-mod=view&aid=82', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=82', target='_blank', title='邂逅金秋岭南—宝墨园')
										img(src='/public/images/news/134502olawwwb272wjg2at.jpg.thumb.jpg', tppabs='http://115.29.97.50/week_jiaohu//public/images/news/134502olawwwb272wjg2at.jpg.thumb.jpg', alt='邂逅金秋岭南—宝墨园')
								.wk_tidings_main_name
									span.wk_tidings_main_name2
										a(href='portal.php-mod=view&aid=82', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=82', target='_blank', title='邂逅金秋岭南—宝墨园') 邂逅金秋岭南—宝墨园
								.wk_tidings_main_cnt
									span.wk_tidings_main_cnt2
										| 评论宝墨园已有100多年的历史。清朝嘉庆年间，紫坭村村民为纪念北宋名臣包拯，曾建设了包相府（包公庙）。清末民初，又在包相府侧兴建了“宝墨园”。面积5亩，小巧玲珑。该园五十年代初被毁，只得园名石匾幸存。在原
										| ...
								.wk_tidings_main_more
									a(target='_blank', title='more', href='portal.php-mod=view&aid=82', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=82') more>>
							.wk_tidings_main
								.wk_tidings_img
									a(href='portal.php-mod=view&aid=81', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=81', target='_blank', title='竹木的小器盛水，颇具中式风情')
										img(src='/public/images/news/134259tkfx4xiuz7uzmuxb.jpg.thumb.jpg', tppabs='http://115.29.97.50/week_jiaohu//public/images/news/134259tkfx4xiuz7uzmuxb.jpg.thumb.jpg', alt='竹木的小器盛水，颇具中式风情')
								.wk_tidings_main_name
									span.wk_tidings_main_name2
										a(href='portal.php-mod=view&aid=81', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=81', target='_blank', title='竹木的小器盛水，颇具中式风情') 竹木的小器盛水，颇具中式风情
								.wk_tidings_main_cnt
									span.wk_tidings_main_cnt2
										| 众所周知，温泉是用来泡汤养生的。能够直接喝得温泉，目前经历过两处。一处是多年前在捷克的KV小镇，有精致的温泉杯从龙头里接出饮用，带有苦涩的味道。第二个便是热海的怀胎井，竹木的小器盛水，颇具中式风情。水质
										| ...
								.wk_tidings_main_more
									a(target='_blank', title='more', href='portal.php-mod=view&aid=81', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=81') more>>
							.wk_tidings_main
								.wk_tidings_img
									a(href='portal.php-mod=view&aid=80', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=80', target='_blank', title='怀胎井，是人气最高的一个泉眼')
										img(src='/public/images/news/134204o0savhswoovu58oo.jpg.thumb.jpg', tppabs='http://115.29.97.50/week_jiaohu//public/images/news/134204o0savhswoovu58oo.jpg.thumb.jpg', alt='怀胎井，是人气最高的一个泉眼')
								.wk_tidings_main_name
									span.wk_tidings_main_name2
										a(href='portal.php-mod=view&aid=80', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=80', target='_blank', title='怀胎井，是人气最高的一个泉眼') 怀胎井，是人气最高的一个泉眼
								.wk_tidings_main_cnt
									span.wk_tidings_main_cnt2
										| 评论怀胎井出水温度88℃，含有氧离子、重碳离子、氯离子、硫酸根离子、钠离子、硫化氢离子和可溶性硅等成分，为氡矿泉，具有促进新陈代谢、调节内分泌等作用，特别对妇女月经不调、内分泌疾病有一定疗效，常为不孕妇
										| ...
								.wk_tidings_main_more
									a(target='_blank', title='more', href='portal.php-mod=view&aid=80', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=80') more>>
							.wk_tidings_main
								.wk_tidings_img
									a(href='portal.php-mod=view&aid=79', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=79', target='_blank', title='岿然静止，却浓重深厚')
										img(src='/public/images/news/134110lq3hvysttcgyyhr2.jpg.thumb.jpg', tppabs='http://115.29.97.50/week_jiaohu//public/images/news/134110lq3hvysttcgyyhr2.jpg.thumb.jpg', alt='岿然静止，却浓重深厚')
								.wk_tidings_main_name
									span.wk_tidings_main_name2
										a(href='portal.php-mod=view&aid=79', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=79', target='_blank', title='岿然静止，却浓重深厚') 岿然静止，却浓重深厚
								.wk_tidings_main_cnt
									span.wk_tidings_main_cnt2
										| 评论顺着栈道一直前行，便可抵达著名的华泉裙。这是一块巨大的石块，因为不同成分的泉水均汇集流经此石，不同的化学成分与矿物质结合呈现出不同的色泽，远远望去仿佛妖娆的女子身着华丽的花色条纹大摆裙。
								.wk_tidings_main_more
									a(target='_blank', title='more', href='portal.php-mod=view&aid=79', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=79') more>>
					.clear
					.pgs.cl
						.pg
							strong 1
							a(href='') 2
							a(href='') 3
							a(href='') 4
							a(href='') 5
							label
								input.px(type='text', name='custompage', size='2', title='输入页码，按回车快速跳转', value='1', onkeydown="if(event.keyCode==13) {window.location='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid='+this.value;; doane(event);}")
								span(title='共 5 页')  / 5 页
							a.nxt(href='') 下一页
					#diycontentbottom.area
				.sd.pph
					.wk_c_left_t
						span.wk_c_left_t1 新闻资讯
						span.wk_c_left_t2 News
					.wk_c_left_cnt
						ul
							li.wk_menu1_cur
								a(href='',  title='公司新闻') 公司新闻
							li.wk_menu1_cur
								a(href='', title='行业新闻') 行业新闻
							li.wk_menu1_cur
								a(href='', title='媒体报道') 媒体报道
					.clear
					#wk_zcyl1.area
					.clear
					.wk_c_left_cont
						span.wk_c_left_cont1 联系方式
						span.wk_c_left_cont2 Contact
					.wk_left_contdiv
						span
							strong 地 址：
							| 广西南宁市科园大道东五路4号
							br
							| 南宁软件园1楼
						span
							strong 邮 编：
							| 530007
						span
							strong 咨询热线：
							| 0776-3216270
						span
							strong 服务投拆：
							| 0776-3216270
						span
							strong 传 真：
							| 0776-3216270
						span
							strong 邮 箱：
							a(href='mailto:info@mars-it.net.com') info@mars-it.net
					.clear
					.clear
					#wk_zcyl2.area
					.clear
		.wp.mtn
			#diy3.area
	include lib/footer


