extends layout

block content
	include lib/header	
	.wk_list_box.wk_list_box17
	.wk_blog_tab
		ul
			li
				a.a(href='portal.php-mod=list&catid=3.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=3', title='产品中心') 全部
			li
				a(href='portal.php-mod=list&catid=14.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=14', title='微信开发') 微信开发
			li
				a(href='portal.php-mod=list&catid=15.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=15', title='移动app') 移动app
			li
				a(href='portal.php-mod=list&catid=16.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=16', title='软件界面') 软件界面
			li
				a(href='portal.php-mod=list&catid=17.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=17', title='电子商务') 电子商务
		.clear
	.clear
	.wk_ymbg
		#wp.wp
			.wp
				// [diy=diy1]
				#diy1.area
				// [/diy]
			.week-case
				// [diy=listcontenttop]
				#listcontenttop.area
				// [/diy]
				.week-case_con
					dl
						dd(style='background:url(/hfour/images/product/134235sxro4jwl13sd653l.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=156.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=156', title='vivo Xplay5评测：双曲面屏值不值4K块？', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=156.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=156', title='vivo Xplay5评测：双曲面屏值不值4K块？', target='_blank') vivo Xplay5评测：双曲面屏值不值4K块？
						dt
							a.xi2(href='portal.php-mod=list&catid=14.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=14', target='_blank') 微信开发
							span.pipe
							| 2016-3-16 13:42
						dt.dt3
							| 在沉寂了一年多之后，借着820出片的春风，全球手机厂商的激情被重新点燃，从2月份的MWC开始，估计到四月份发布会能排成一个加强排。3月伊始，vivo先来了。在沉寂了27个月，让我以为vivo都已经把Xplay这条产品线砍了
							| ...
					dl
						dd(style='background:url(/hfour/images/product/134020yg6ta2qg0gt61rwr.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=150.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=150', title='Noke智能挂锁体验 外观低调使用安全方便', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=150.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=150', title='Noke智能挂锁体验 外观低调使用安全方便', target='_blank') Noke智能挂锁体验 外观低调使用安全方便
						dt
							a.xi2(href='portal.php-mod=list&catid=14.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=14', target='_blank') 微信开发
							span.pipe
							| 2016-3-16 13:40
						dt.dt3
							| 设计和连接从外观来看，Noke蓝牙智能挂锁总给人一种感觉，它才是你值得信赖的安全锁，但人们对它最深的印象却是怎么看都像一个怀表而不是一把锁。它重量适中，结构技术精湛。如果你特别欣赏简洁主义的设计，那你一定
							| ...
					dl
						dd(style='background:url(/hfour/images/product/133906h667ajnninol5mu5.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=148.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=148', title='虹膜识别', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=148.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=148', title='虹膜识别', target='_blank') 虹膜识别
						dt
							a.xi2(href='portal.php-mod=list&catid=14.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=14', target='_blank') 微信开发
							span.pipe
							| 2016-3-16 13:39
						dt.dt3
							| 虹膜识别是基于人眼中的虹膜进行身份识别的，主要应用于安防设备以及高度保密需求的场所。我们知道，眼睛结构由巩膜、虹膜、瞳孔晶状体、视网膜等部分组成。虹膜位于黑色瞳孔和白色巩膜之间的圆环状部分，其包含有很
							| ...
					dl
						dd(style='background:url(/hfour/images/product/133807jnwhkvqu9mmbqm0y.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=146.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=146', title='苹果Pay对决三星Pay：其实银联才是赢家', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=146.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=146', title='苹果Pay对决三星Pay：其实银联才是赢家', target='_blank') 苹果Pay对决三星Pay：其实银联才是赢家
						dt
							a.xi2(href='portal.php-mod=list&catid=14.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=14', target='_blank') 微信开发
							span.pipe
							| 2016-3-16 13:38
						dt.dt3
							| “不是冤家不碰头”，这句话用在苹果和三星两家商业巨头身上真是恰如其分。他们之间充满着“爱恨情仇”，一边iPhone还在与GALAXY明争暗斗地打着专利战，可背后的产业链中双方也或多或少存在合作关系。而借着移动互联
							| ...
					dl
						dd(style='background:url(/hfour/images/product/133722owg9h9hv66h1hhba.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=144.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=144', title='三星27英寸曲面显示器评测', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=144.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=144', title='三星27英寸曲面显示器评测', target='_blank') 三星27英寸曲面显示器评测
						dt
							a.xi2(href='portal.php-mod=list&catid=14.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=14', target='_blank') 微信开发
							span.pipe
							| 2016-3-16 13:37
						dt.dt3
							| 从我个人的使用感受上说，曲面在视觉上的确会给我带来一些不一样的感觉。在玩《英雄联盟》这款游戏的时候，画面的动作因为尺寸增大（我平时用22-25英寸居多）而变得更富有动感，血量槽能够更准确的把握长度进行补兵
							| ...
					dl
						dd(style='background:url(/hfour/images/product/133613q4tq3tjj6za4p342.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=141.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=141', title='nubia MiFi评测：小巧速度快', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=141.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=141', title='nubia MiFi评测：小巧速度快', target='_blank') nubia MiFi评测：小巧速度快
						dt
							a.xi2(href='portal.php-mod=list&catid=14.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=14', target='_blank') 微信开发
							span.pipe
							| 2016-3-16 13:36
						dt.dt3
							| 上个月，nubia在发布布拉格S手机的同时，连带着发布了一款MiFi产品，定价499元。这款产品最大的特色在于支持全网通Cat
							| 4标准，同时内置了TF卡槽可以充当U盘独立使用。尽管不得不承认，如今4G的流量费相当便宜，手机 ...
					dl
						dd(style='background:url(/hfour/images/product/133633qorriths3zrib5ry.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=142.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=142', title='豹米空气净化器2评测：性能可靠 噪音需改善', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=142.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=142', title='豹米空气净化器2评测：性能可靠 噪音需改善', target='_blank') 豹米空气净化器2评测：性能可靠 噪音需改善
						dt
							a.xi2(href='portal.php-mod=list&catid=14.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=14', target='_blank') 微信开发
							span.pipe
							| 2016-3-16 13:36
						dt.dt3
							| 豹米空气净化器2代的外观延续了上一代的立方体造型，但也有很大的区别，去除了下部的镂空部分，整体如官方所言，类似一个抱枕。色彩方面也十分简约，有牛奶白、薄荷绿、樱花粉等多种颜色，本次我们拿到的是白色版本
							| ...
					dl
						dd(style='background:url(/hfour/images/product/133653fcna29akg3lyhw5f.png.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=143.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=143', title='联想乐檬3评测：红米3的有力竞争者', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=143.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=143', title='联想乐檬3评测：红米3的有力竞争者', target='_blank') 联想乐檬3评测：红米3的有力竞争者
						dt
							a.xi2(href='portal.php-mod=list&catid=14.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=14', target='_blank') 微信开发
							span.pipe
							| 2016-3-16 13:36
						dt.dt3
							| 外观作为之前推出的联想乐檬K3的改进版，乐檬3外观工艺上最大进步在于改用了金属机身设计，这让手机整体看起来少了廉价感。整个手机给人的感觉是极简化的，比如正面沿用了网状听筒与三颗Android触控按键，背部则是习
							| ...
					dl
						dd(style='background:url(/hfour/images/product/133551utfx44hhftxz34hh.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=140.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=140', title='云韵BT-240A蓝牙音箱评测', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=140.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=140', title='云韵BT-240A蓝牙音箱评测', target='_blank') 云韵BT-240A蓝牙音箱评测
						dt
							a.xi2(href='portal.php-mod=list&catid=14.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=14', target='_blank') 微信开发
							span.pipe
							| 2016-3-16 13:35
						dt.dt3
							| 云韵BT-240A移动互联网时代，人们越来越依赖用智能手机或平板电脑处理日常工作或是消费娱乐，而移动设备的高增长随之也带动了智能手机周边配件行业的崛起，蓝牙音箱便是其中之一。如今在售的蓝牙音箱种类繁多，我们
							| ...
					dl
						dd(style='background:url(/hfour/images/product/133015blp0d8u2kd8zk0dk.png.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=139.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=139', title='萝卜白菜各有所爱 哪款MacBook最适合你？', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=139.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=139', title='萝卜白菜各有所爱 哪款MacBook最适合你？', target='_blank') 萝卜白菜各有所爱 哪款MacBook最适合你？
						dt
							a.xi2(href='portal.php-mod=list&catid=17.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=17', target='_blank') 电子商务
							span.pipe
							| 2016-3-16 13:30
						dt.dt3
							| 苹果的MacBook系列一直是市场中极为畅销的笔记本电脑，即便是在传统电脑市场下滑的情况下也能保证稳定的市场增长率，令人印象深刻。对于iPhone用户来说，使用OS
							| X无疑更加方便，MacBook可以同步众多iPhone内容，甚至 ...
					dl
						dd(style='background:url(/hfour/images/product/132916g396il7n66js6lnn.png.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=136.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=136', title='能用树莓派制作一台复古游戏机', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=136.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=136', title='能用树莓派制作一台复古游戏机', target='_blank') 能用树莓派制作一台复古游戏机
						dt
							a.xi2(href='portal.php-mod=list&catid=17.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=17', target='_blank') 电子商务
							span.pipe
							| 2016-3-16 13:29
						dt.dt3
							| 在问世距今40多年的时间里，电子游戏已经彻底改变了人们对于互动娱乐技术的看法。虽然如今的电子游戏已经相当精致了，但有的时候，玩家们可能只是想要通过那些老旧的像素游戏找回童年的乐趣。实际上，你只需一部树莓
							| ...
					dl
						dd(style='background:url(/hfour/images/product/132936atmdjdal58x7d9lt.jpg.thumb.jpg) no-repeat center center;background-size:cover')
							a(href='portal.php-mod=view&aid=137.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=137', title='雷蛇Blade Stealth：足以取代苹果MBP？', target='_blank')
						dt
							h3
								a(href='portal.php-mod=view&aid=137.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=137', title='雷蛇Blade Stealth：足以取代苹果MBP？', target='_blank') 雷蛇Blade Stealth：足以取代苹果MBP？
						dt
							a.xi2(href='portal.php-mod=list&catid=17.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=17', target='_blank') 电子商务
							span.pipe
							| 2016-3-16 13:29
						dt.dt3
							| 最好的便携生产力笔记本是什么？很多人的答案可能都是苹果MacBook Pro。的确，MacBook
							| Pro拥有出众的设计、良好的性能和稳定性以及舒适的使用体验，其设计理念也被很多PC厂商所参考，比如戴尔、华硕等。
					.clear
				.clear
				.pgs.cl
					.pg
						strong 1
						a(href='portal.php-mod=list&catid=3&page=2.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=3&page=2') 2
						a(href='portal.php-mod=list&catid=3&page=3.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=3&page=3') 3
						a(href='portal.php-mod=list&catid=3&page=4.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=3&page=4') 4
						a(href='portal.php-mod=list&catid=3&page=5.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=3&page=5') 5
						a(href='portal.php-mod=list&catid=3&page=6.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=3&page=6') 6
						label
							input.px(type='text', name='custompage', size='2', title='输入页码，按回车快速跳转', value='1', onkeydown="if(event.keyCode==13) {window.location='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=3&page='+this.value;; doane(event);}")
							span(title='共 6 页')  / 6 页
						a.nxt(href='portal.php-mod=list&catid=3&page=2.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=3&page=2') 下一页
				// [diy=diycontentbottom]
				#diycontentbottom.area
				// [/diy]
		.wp.mtn
			// [diy=diy3]
			#diy3.area
			// [/diy]
	include lib/footer