extends layout

block content
	include lib/header
	.wk_list_box.wk_list_box14
	.clear
	.wk_ymbg
		#wp.wp
			.wp
				// [diy=diy1]
				#diy1.area
				// [/diy]
			#ct.ct2.wp.cl
				.mn
					.wk_c_right_name
						.wk_c_right_name_r
							ul
								li
									img(src='/public/images/service/right_wz.png', tppabs='http://115.29.97.50/week_jiaohu/template/week_jiaohu/images//portal/right_wz.png', alt='')
								li
									span 您现在的位置：
									span
										a(href='portal.php.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php') 企业首页
									span →
									span 服务中心
					// [diy=listcontenttop]
					#listcontenttop.area
					// [/diy]
					.bm
						.wk_bm_wc.cl
							ul.wk_su
								li.cl
									h2
										a.xi2(href='portal.php-mod=view&aid=49.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=49', target='_blank', title='行摄掠影 太行寻秋', style='') 行摄掠影 太行寻秋
									p.wk_bm_sm
										| 曾经只在书本上看到过关于“燕云十六州”的文字，却从未想过有一天能够如此近距离的接触到这片充满了历史人文与诗意风光的土地，当外界在繁华喧嚣中沉浮之时，她却静守着自己的寂然稳重。源起殷商，名出宋元，灿于明
										| ...
									span.xg1
										| 分类: 
										label
											a.xi2(href='portal.php-mod=list&catid=20.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=20') 常见问题
										span.xg1
											| 时间:
											| 2016-3-15 12:47
								li.cl
									h2
										a.xi2(href='portal.php-mod=view&aid=48.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=48', target='_blank', title='因为旅行，我们相识', style='') 因为旅行，我们相识
									p.wk_bm_sm
										| 因为旅行，我们相识因为旅行，我们相知因为旅行，我们彼此走得更近因为旅行，我们总有一天会在路上相遇我们萍水相逢，然后在一起唱唱闹闹，哭哭笑笑，聚散过后在回归原本的生活，回想着这里的一切，就如一场梦，却迟
										| ...
									span.xg1
										| 分类: 
										label
											a.xi2(href='portal.php-mod=list&catid=20.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=20') 常见问题
										span.xg1
											| 时间:
											| 2016-3-15 12:45
								li.cl
									h2
										a.xi2(href='portal.php-mod=view&aid=47.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=47', target='_blank', title='北陵公园', style='') 北陵公园
									p.wk_bm_sm
										| 清晨,沈阳的室外没有下雪,也许这是我们的期待,可惜雪花却依然没有如约而至,我们在酒店吃了工作人员准备的早餐后,踏上了前往清福陵的路上。并不那么适应沈阳的天气,总要把自己包的跟粽子似的,却依然还要如此一会热一
										| ...
									span.xg1
										| 分类: 
										label
											a.xi2(href='portal.php-mod=list&catid=20.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=20') 常见问题
										span.xg1
											| 时间:
											| 2016-3-15 12:44
								li.cl
									h2
										a.xi2(href='portal.php-mod=view&aid=46.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=46', target='_blank', title='沈阳,别称盛京', style='') 沈阳,别称盛京
									p.wk_bm_sm
										| 评论沈阳,别称盛京,这个东北地区第一大城市。有2300年建城史,素有“一朝发祥地,两代帝王都”之称。是中国最重要的以装备制造业为主的重工业基地,现有两项共三处世界文化遗产。
									span.xg1
										| 分类: 
										label
											a.xi2(href='portal.php-mod=list&catid=20.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=20') 常见问题
										span.xg1
											| 时间:
											| 2016-3-15 12:42
								li.cl
									h2
										a.xi2(href='portal.php-mod=view&aid=44.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=44', target='_blank', title='沙湾古镇', style='') 沙湾古镇
									p.wk_bm_sm
										| 评论不知道为何,偏爱古镇,去一个地方旅行,总会寻找周边古香古色的地方去散散心。如果可以选择生活,我一定义不容辞。选择一座古镇,以最优雅的姿势,渡最美余生.(沙湾古镇)
									span.xg1
										| 分类: 
										label
											a.xi2(href='portal.php-mod=list&catid=20.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=20') 常见问题
										span.xg1
											| 时间:
											| 2016-3-15 12:41
								li.cl
									h2
										a.xi2(href='portal.php-mod=view&aid=45.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=45', target='_blank', title='当春暖花开的厦门,遇见冰天雪地的沈阳', style='') 当春暖花开的厦门,遇见冰天雪地的沈阳
									p.wk_bm_sm
										| 总有一个人会让你留念,总有一处风景会让你停留。熙攘而又寂静的繁华世界,珍惜遇见,即便有些遇见。不是为了得到更好的结果,只是为了在最美的时光遇见最美的你们。评论在南方呆久了,总想去北方走走,这个冬天,穿越故宫
										| ...
									span.xg1
										| 分类: 
										label
											a.xi2(href='portal.php-mod=list&catid=20.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=20') 常见问题
										span.xg1
											| 时间:
											| 2016-3-15 12:41
								li.cl
									h2
										a.xi2(href='portal.php-mod=view&aid=42.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=42', target='_blank', title='珍珠海在藏语中称为“卓玛拉措', style='') 珍珠海在藏语中称为“卓玛拉措
									p.wk_bm_sm
										| 评论珍珠海在藏语中称为“卓玛拉措”,是仙乃日神山的冰雪消融形成的海子,海拔4100米。它的名字和它的景色一样美,站在“卓玛拉措”的彼岸,它就像跌入人间的一块翡翠,清可见底,波光粼粼,映射出雪山的清澈。
									span.xg1
										| 分类: 
										label
											a.xi2(href='portal.php-mod=list&catid=20.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=20') 常见问题
										span.xg1
											| 时间:
											| 2016-3-15 12:40
								li.cl
									h2
										a.xi2(href='portal.php-mod=view&aid=43.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=43', target='_blank', title='烟雨丹霞山,倘若画中游', style='') 烟雨丹霞山,倘若画中游
									p.wk_bm_sm
										| 在你的记忆中是不是有这么一个地方它是一座圆锥拔地而起丹霞山是一溪最原始潺潺流淌的山溪是一条寂静悠悠深处青石小径是一个让心灵回归宁静的地方评论喝一杯茶,看一本书,听一首歌,去一个自己想去的地方,让心灵宁静的
										| ...
									span.xg1
										| 分类: 
										label
											a.xi2(href='portal.php-mod=list&catid=20.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=20') 常见问题
										span.xg1
											| 时间:
											| 2016-3-15 12:40
								li.cl
									h2
										a.xi2(href='portal.php-mod=view&aid=41.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=view&aid=41', target='_blank', title='走向素雪纷飞', style='') 走向素雪纷飞
									p.wk_bm_sm
										| 亲爱的旅人,你要去哪里,一朵花开的际遇,别过秋水长天,走向素雪纷飞,无论何时,心中有暖,灵魂才不会飘泊。也许,红尘中注定与你走一程;也许,生命中旅途注定与你擦肩。擦肩而过的痛,是无法就写的梦。幽幽红尘里,你是我无
										| ...
									span.xg1
										| 分类: 
										label
											a.xi2(href='portal.php-mod=list&catid=20.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=20') 常见问题
										span.xg1
											| 时间:
											| 2016-3-15 12:39
						// [diy=listloopbottom]
						#listloopbottom.area
						// [/diy]
					.clear
					.pgs.cl
						.pg
							strong 1
							a(href='portal.php-mod=list&catid=5&page=2.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=5&page=2') 2
							label
								input.px(type='text', name='custompage', size='2', title='输入页码，按回车快速跳转', value='1', onkeydown="if(event.keyCode==13) {window.location='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=5&page='+this.value;; doane(event);}")
								span(title='共 2 页')  / 2 页
							a.nxt(href='portal.php-mod=list&catid=5&page=2.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=5&page=2') 下一页
					// [diy=diycontentbottom]
					#diycontentbottom.area
					// [/diy]
				.sd.pph
					.wk_c_left_t
						span.wk_c_left_t1 新闻资讯
						span.wk_c_left_t2 News
					.wk_c_left_cnt
						ul
							li.wk_menu1_cur
								a(href='portal.php-mod=list&catid=20.htm', tppabs='http://115.29.97.50/week_jiaohu/portal.php?mod=list&catid=20', title='常见问题') 常见问题
					.clear
					// [diy=wk_zcyl1]
					#wk_zcyl1.area
					// [/diy]
					.clear
					.wk_c_left_cont
						span.wk_c_left_cont1 联系方式
						span.wk_c_left_cont2 Contact
					.wk_left_contdiv
						span
							strong 地 址：
							| 广东省深圳市南山区科技园
							br
							| 中区一路腾讯大厦
						span
							strong 邮 编：
							| 518057
						span
							strong 咨询热线：
							| 400-888-8888
						span
							strong 服务投拆：
							| 400-123-5678
						span
							strong 传 真：
							| 0755-888-8888
						span
							strong 邮 箱：
							a(href='mailto:discuz@haoweek.com') web@haoweek.com
					.clear
					.clear
					// [diy=wk_zcyl2]
					#wk_zcyl2.area
					// [/diy]
					.clear
		.wp.mtn
			// [diy=diy3]
			#diy3.area
			// [/diy]
	include lib/footer